API_KEY=""
AUTH_DOMAIN="{GOOGLE_PROJECT_ID}.firebaseapp.com"
DATABASE_URL="https://{GOOGLE_PROJECT_ID}.firebaseio.com"
PROJECT_ID="{GOOGLE_PROJECT_ID}"
STORAGE_BUCKET="{GOOGLE_PROJECT_ID}.appspot.com"
MESSAGING_SENDER_ID=""
APP_ID=""
# Do we want this? MEASUREMENT_ID=""

CURRENT_SCHEMA_VERSION=""

