<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>safeCOVID</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow safeCOVID to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow safeCOVID to use the camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow safeCOVID experiences to access your contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow safeCOVID to use your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow safeCOVID to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow safeCOVID to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow safeCOVID to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow safeCOVID to access your device&apos;s accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give safeCOVID periences permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give safeCOVID periences permission to access your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Allow safeCOVID to access your reminders</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We broadcast and scan for bluetooth signals in a way to track all phones nearby you in a privacy-preserving way</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow safeCOVID to access Bluetooth to warn you if you are not among other safe people</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>bluetooth-le</string>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>org.virevol.virevolai.safecovid</string>
	</array>
</dict>
</plist>
